<div class="message-create-container">
  <mat-card>
    <form
      [formGroup]="messageForm"
      class="form"
      (ngSubmit)="submit(messageBody.value)"
    >
      <mat-form-field appearance="outline">
        <mat-label>Sender</mat-label>
        <input id="sender" type="text" formControlName="sender" matInput />
        <mat-error *ngIf="!messageForm.valid">
          Sender is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Content</mat-label>
        <textarea
          #messageBody
          matInput
          cdkTextareaAutosize
          #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="7"
          cdkAutosizeMaxRows="10"
        ></textarea>
      </mat-form-field>

      <button
        [disabled]="!messageForm.valid || isSendingMessage"
        color="primary"
        type="submit"
        mat-raised-button
        [ngClass]="{
          'submit-success': isSendSuccessful,
          'submit-fail': isSendError
        }"
      >
        Post Message
      </button>
    </form>
  </mat-card>
</div>
