<div class="example-table-container mat-elevation-z24">
  <mat-form-field appearance="fill" class="table-filter">
    <mat-label>Filter</mat-label>
    <input matInput #filter />
  </mat-form-field>

  <!-- <div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner></mat-spinner>
  </div> -->

  <div class="table-container">
    <mat-table
      [dataSource]="dataSource"
      [trackBy]="trackMessage"
      class="my-table"
      matSort
      matSortActive="sender"
      matSortDisableClear
      matSortDirection="asc"
      (matSortChange)="onSortChange($event)"
    >
      <ng-container
        [matColumnDef]="column"
        *ngFor="let column of displayedColumns"
      >
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ column | titlecase }}
        </mat-header-cell>
        <mat-cell
          [ngStyle]="{ display: 'flex', 'flex-direction': 'column' }"
          *matCellDef="let element"
          (contextmenu)="onContextMenuClick($event, element)"
        >
          <app-cell-display
            [messageId]="element._id"
            [displayKey]="column"
            [displayValue]="element[column]"
            [formDefinition]="messagePropDefinitions[column]"
            (editEnd)="onCellEdit($event)"
          ></app-cell-display>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
  </div>

  <!-- <mat-paginator
    [pageSize]="3"
    aria-label="Select page of GitHub search results"
  ></mat-paginator> -->
  <mat-paginator
    [pageSizeOptions]="[3, 10, 20, 50]"
    [length]="totalMessagesInServer"
    aria-label="Select messages from server"
    (page)="onPageChange($event)"
  ></mat-paginator>
</div>

<app-context-menu [triggerContextMenu]="contextMenuParams">
  <button mat-menu-item (click)="onDeleteRow($event)">Delete Row</button>
</app-context-menu>
