<div class="example-container mat-elevation-z8">
  <mat-form-field appearance="standard">
    <mat-label>Filter</mat-label>
    <input matInput #filter />
  </mat-form-field>

  <div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner></mat-spinner>
  </div>

  <div class="example-table-container">
    <mat-table
      [dataSource]="dataSource"
      [trackBy]="trackMessage"
      class="example-table"
      matSort
      matSortActive="sender"
      matSortDisableClear
      matSortDirection="asc"
      (matSortChange)="onSortChange($event)"
    >
      <ng-container
        [matColumnDef]="column"
        *ngFor="let column of displayedColumns"
      >
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ column | titlecase }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element[column] }}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
  </div>

  <!-- <mat-paginator
    [pageSize]="3"
    aria-label="Select page of GitHub search results"
  ></mat-paginator> -->
  <mat-paginator
    [pageSizeOptions]="[3, 10, 20, 50]"
    [length]="totalMessagesInServer"
    aria-label="Select messages from server"
    (page)="onPageChange($event)"
  ></mat-paginator>
</div>
