/* Structure */
.example-container {
  position: relative;
}



.example-table-container{
  display: flex;
  position: relative;
  flex-direction: column;
  height:0px;
  flex: 1 1 auto;
}

.table-container {
  flex: 1;
  min-height: 0;
  overflow: auto;
}


mat-table {
  width: 100%;
  height: 100%;
}

message-cell{
  display: inline-flex;
flex-direction: column;
color: red !important;

background-color: chocolate !important;
}

app-cell-display{
  display: flex;
  width: 100%;
  align-items: center;
  align-self: center;
  flex: 1 1;
  /* flex-direction: column; */
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .example-rate-limit-reached {
  max-width: 360px;
  text-align: center;
} */

/* Column Widths */
.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-created {
  max-width: 124px;
}

:host{
  display: flex;
flex-direction: column;
flex: 1 1 auto;
}






